* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

a {
	font-weight: 700;
  	text-decoration: none;
  	text-transform: uppercase;
  	position: relative;
  	color: #333;
  	padding: 10px 0px;
  	letter-spacing: 1px;
  	font-size: 12.5px;
}