@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed&display=swap');


* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

a {
	font-weight: 700;
  	text-decoration: none;
  	text-transform: uppercase;
  	position: relative;
  	color: #333;
  	padding: 10px 0px;
  	letter-spacing: 1px;
  	font-size: 12.5px;
}

.topSection {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  height: 100%; 
  background-image: url(../images/brown-book-page-1112048.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.borderBackground {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.topTitle {
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topButton {
  text-align: center;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #f1f1f1;
  background-color: transparent;
  border: 1px solid #f1f1f1 ;
}

.subSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
}

.subTitle {
  text-transform: uppercase;
  font-size: 50px;
}

.subText {
  text-align: center;
}

.flexContainer {
  display: flex;
  background-color: #f1f1f1;
  padding: 0 300px 0 300px;
  justify-content: center;
  align-items: center;
}

.customCard {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.cardTextTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.cardText {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.cardImage {
  height: 100%;
}

.cardButton {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #f1f1f1;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.cardButton:hover {
  background-color: black;
  color: white;
}

.sectFour {
  display: flex;
  background-image: url(../images/brown-book-page-1112048.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px;

}

.customColumn {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.one {
  background-color: rgba(256, 256, 256, 0.8);
  flex: 1;
  margin: 80px 100px 80px 100px;
  text-align: center;
  padding: 30px 30px 30px 30px;
}

.two {
  background-color: rgba(256, 256, 256, .8);
  flex: 1;
  margin: 80px 100px 80px 100px;
  text-align: center;
  padding: 30px 30px 30px 30px;
}






























.topButton:hover {
  background-color: #f1f1f1;
  color: black;
}